<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926166819744-r047gc3oi4i0bugg109kgb4l3rb6auqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926166819744-r047gc3oi4i0bugg109kgb4l3rb6auqm</string>
	<key>API_KEY</key>
	<string>AIzaSyBS_ya7GEz-dEhqY6vgPXMpzUqkdFVdybk</string>
	<key>GCM_SENDER_ID</key>
	<string>926166819744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseGoogleSignin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>full-ecommerce-9ec81</string>
	<key>STORAGE_BUCKET</key>
	<string>full-ecommerce-9ec81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926166819744:ios:a3395cb6550cd24bac7ac5</string>
</dict>
</plist>